p {
	text-align: left;
	color: #bfbdb6;
}
h1 {
	text-align: center;
	color: #bfbdb6;
}
hr {
	width: 100%;
	height: 0;
	margin: auto;
	border: 0;
	border-bottom: 0.3rem solid #131721;
}
main {
	width: 50%;
	margin: auto;

}
